/*All styling by Musa Farouk*/

/*All responsive max-widths starts here*/

/*Responsive propersties for smaller smartphones*/
@media screen and (min-width: 300px) and (max-width: 374px)
{
	/*Index styling starts here*/
	/*Body styling starts here*/
	body
	{
		margin-left: 30px;
		margin-right: 30px;
		background-image: -moz-linear-gradient(top, #C86DD7, #3023AE);
		background-image: -webkit-linear-gradient(top,#C86DD7, #3023AE);
		background-image: -ms-linear-gradient(top, #C86DD7, #3023AE);
		background-image: linear-gradient(top, #C86DD7, #3023AE);
	}

	/*Navigation bar styling here*/
	.nav
	{
		padding-top: 20px;
	}

	/*Left Navigation styling starts here*/
	.left-nav
	{
		float: left;
	}

	/*Link in left havigation*/
	.left-nav a
	{
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Chalkboard';
		color: #FFFFFF;
		padding: 10px;/*
		text-shadow: 0 2px 4px rgba(0,0,0,0.50);*/
	}

	.left-nav img
	{
		width: 45px;
	}

	/*Right Navigation Styling starts here*/
	.right-nav
	{
		float: right;
	}

	/*Contact Button Styling Starts here*/
	.contact-btn
	{
		/* top: */
		background: #FFFFFF;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.13);
		border-radius: 10px;
		color: #333;
		padding: 10px;
		width: 80px;
		text-align: center;
		cursor: pointer;
		opacity: 1;
		transition: all 0.5s ease-in;
	}

	/*Contact button link*/
	.contact-btn a
	{
		text-decoration: none;
		font-family: '	';
		font-weight: bold;
		font-size: 10px;
		opacity: 1;
		transition: all 0.5s ease-in;
	}
	.contact-btn:hover
	{
		opacity: 0.9;
		box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);
		transition: all 0.5s ease-in;
	}
	.contact-btn a:hover
	{
		opacity: 0.9;
		transition: all 0.5s ease-in;
	}



	/*First page section styling starts here*/
	/*Intro styling starts here*/

	.first-page-section
	{
		text-align: center;
	}

	.intro
	{
		/* Hi there, My name is: */
		padding: 30px;
		font-family: 'Chalkboard';
		font-weight: regular;
		text-align: center;
		font-size: 18px;
		letter-spacing: 0.5px;
		line-height: 20px;
		color: #FFFFFF;
		text-shadow: 0 2px 2px rgba(0,0,0,0.80);
	}

	/*The snippet below styles the scroll-btn*/
	.scroll-btn
	{
		width: 30px;
		text-align: center;
	}

	/*My wonderful name is highlighted with this snippet here*/
	.name
	{
		font-family: 'Chalkboard';
		font-weight: bold;
	}

	/*Blackline styling starts here*/
	.blackline
	{
		width: 100px;
		height: 5px;
		background: #000000;
		border-radius: 8px;
	}

	/*Socialbuttons styling starts here*/
	.social-buttons
	{
		float: right;

	}
	.social-buttons ul li
	{
		display: inline;
	}

	.social-buttons-img
	{
		width: 20px;
		height: 20px;
		padding: 5px;
	}

	/*Portfolio section starts here*/
	.portfolio-section
	{
		/*background-image: linear-gradient(45deg, rgba(0,0,0,0.50) 0%, #FFFFFF 100%);*/
		/*background-color: #fff;*/
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		border-radius: 5px;
		height: auto;
		width: auto;
	}

	/*Portfolio section content starts here*/
	.row
	{
		text-align: center;
		padding-top: 20px;
	}

	.row div
	{
		display: inline-block;
		text-align: center;
		padding: 20px;

	}

	.row div img
	{
		width: 200px;
		top: 0;
		padding-top: 20px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		padding: 10px;
		border-radius: 2px;
		transition: all 0.5s ease-in;

	}

	.row div img:hover
	{
		opacity: 0.7;
		transition: all 0.5s ease-in;

	}

	/*Contact Info section*/
	#contact-info
	{
		text-align: center;
		padding-top: 20px;
		/*background-image: linear-gradient(45deg, rgba(0,0,0,0.50) 0%, #FFFFFF 100%);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);*/
		border-radius: 5px;
		height: auto;
		width: auto;
	}

	#contact-info
	{
		font-family: 'Open Sans';
		font-weight: bold;
		color: #fff;
		text-shadow: 0 2px 4px rgba(0,0,0,50);
		letter-spacing: 1px;
		padding: 10px;
	}

	#contact-info header
	{
		font-size: 30px;
	}

	#contact-info p
	{
		font-size: 12px;
	}
	/*Footer styling starts here*/
	.footer p
	{
		font-family: 'Chalkboard';
		font-weight: bold;
		font-size: 8px;
		letter-spacing: 1px;
		color: #fff;
		padding: 10px;
		float: left;
	}
}


/*Responsive properties for smartphones*/
@media screen and (min-width: 375px) and (max-width: 400px)
{
	/*Index styling starts here*/
	/*Body styling starts here*/
	body
	{
		margin-left: 30px;
		margin-right: 30px;
		background-image: -moz-linear-gradient(top, #C86DD7, #3023AE);
		background-image: -webkit-linear-gradient(top,#C86DD7, #3023AE);
		background-image: -ms-linear-gradient(top, #C86DD7, #3023AE);
		background-image: linear-gradient(top, #C86DD7, #3023AE);
	}

	/*Navigation bar styling here*/
	.nav
	{
		padding-top: 20px;
	}

	/*Left Navigation styling starts here*/
	.left-nav
	{
		float: left;
	}

	/*Link in left havigation*/
	.left-nav a
	{
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Chalkboard';
		color: #FFFFFF;
		padding: 10px;/*
		text-shadow: 0 2px 4px rgba(0,0,0,0.50);*/
	}

	.left-nav img
	{

	}

	/*Right Navigation Styling starts here*/
	.right-nav
	{
		float: right;
	}

	/*Contact Button Styling Starts here*/
	.contact-btn
	{
		/* top: */
		background: #FFFFFF;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.13);
		border-radius: 10px;
		color: #333;
		padding: 10px;
		width: 100px;
		text-align: center;
		cursor: pointer;
		opacity: 1;
		transition: all 0.5s ease-in;
	}
	.contact-btn a
	{
		text-decoration: none;
		font-family: 'Chalkboard';
		font-weight: bold;
		font-size: 12px;
		opacity: 1;
		transition: all 0.5s ease-in;
	}
	.contact-btn:hover
	{
		opacity: 0.9;
		box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);
		transition: all 0.5s ease-in;
	}
	.contact-btn a:hover
	{
		opacity: 0.9;
		transition: all 0.5s ease-in;
	}



	/*First page section styling starts here*/
	/*Intro styling starts here*/

	.first-page-section
	{
		text-align: center;
	}

	.intro
	{
		/* Hi there, My name is: */
		padding: 30px;
		font-family: 'Chalkboard';
		font-weight: regular;
		text-align: center;
		font-size: 25px;
		letter-spacing: 1px;
		line-height: 25px;
		color: #FFFFFF;
		text-shadow: 0 2px 2px rgba(0,0,0,0.80);
	}

	/*The snippet below styles the scroll-btn*/
	.scroll-btn
	{
		width: 30px;
		text-align: center;
	}

	.name
	{
		font-family: 'Chalkboard';
		font-weight: bold;
	}

	/*Blackline styling starts here*/
	.blackline
	{
		width: 100px;
		height: 5px;
		background: #000000;
		border-radius: 8px;
	}

	/*Socialbuttons styling starts here*/
	.social-buttons
	{
		float: right;

	}
	.social-buttons ul li
	{
		display: inline;
	}

	.social-buttons-img
	{
		width: 20px;
		height: 20px;
		padding: 10px;
	}

	/*Portfolio section starts here*/
	.portfolio-section
	{
		/*background-image: linear-gradient(45deg, rgba(0,0,0,0.50) 0%, #FFFFFF 100%);*/
		/*background-color: #fff;*/
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		border-radius: 5px;
		height: auto;
		width: auto;
	}

	/*Portfolio section content starts here*/
	.row
	{
		text-align: center;
		padding-top: 20px;
	}

	.row div
	{
		display: inline-block;
		text-align: center;
		padding: 20px;

	}

	.row div img
	{
		width: 250px;
		top: 0;
		padding-top: 20px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		padding: 10px;
		border-radius: 2px;
		transition: all 0.5s ease-in;

	}

	.row div img:hover
	{
		opacity: 0.7;
		transition: all 0.5s ease-in;

	}

	/*Contact Info section*/
	#contact-info
	{
		text-align: center;
		padding-top: 20px;
		/*background-image: linear-gradient(45deg, rgba(0,0,0,0.50) 0%, #FFFFFF 100%);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);*/
		border-radius: 5px;
		height: auto;
		width: auto;
	}

	#contact-info
	{
		font-family: 'Avenir';
		font-weight: bold;
		color: #fff;
		text-shadow: 0 2px 4px rgba(0,0,0,50);
		letter-spacing: 1px;
		padding: 10px;
	}

	#contact-info header
	{
		font-size: 30px;
	}

	#contact-info p
	{
		font-size: 15px;
	}
	/*Footer styling starts here*/
	.footer p
	{
		font-family: 'Chalkboard';
		font-weight: bold;
		font-size: 9px;
		letter-spacing: 1px;
		color: #fff;
		padding: 20px;
		float: left;
	}
}


/*Responsive propersties for Phatblest*/
@media screen and (min-width: 401px) and (max-width: 959px)
{
	/*Index styling starts here*/
	/*Body styling starts here*/
	body
	{
		margin-left: 30px;
		margin-right: 30px;
		background-image: -moz-linear-gradient(top, #C86DD7, #3023AE);
		background-image: -webkit-linear-gradient(top,#C86DD7, #3023AE);
		background-image: -ms-linear-gradient(top, #C86DD7, #3023AE);
		background-image: linear-gradient(top, #C86DD7, #3023AE);
	}

	/*Navigation bar styling here*/
	.nav
	{
		padding-top: 20px;
	}

	/*Left Navigation styling starts here*/
	.left-nav
	{
		float: left;
	}

	/*Link in left havigation*/
	.left-nav a
	{
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Chalkboard';
		color: #FFFFFF;
		padding: 10px;/*
		text-shadow: 0 2px 4px rgba(0,0,0,0.50);*/
	}

	.left-nav img
	{

	}

	/*Right Navigation Styling starts here*/
	.right-nav
	{
		float: right;
	}

	/*Contact Button Styling Starts here*/
	.contact-btn
	{
		/* top: */
		background: #FFFFFF;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.13);
		border-radius: 10px;
		color: #333;
		padding: 10px;
		width: 100px;
		text-align: center;
		cursor: pointer;
		opacity: 1;
		transition: all 0.5s ease-in;
	}
	.contact-btn a
	{
		text-decoration: none;
		font-family: 'Chalkboard';
		font-weight: bold;
		font-size: 12px;
		opacity: 1;
		transition: all 0.5s ease-in;
	}
	.contact-btn:hover
	{
		opacity: 0.9;
		box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);
		transition: all 0.5s ease-in;
	}
	.contact-btn a:hover
	{
		opacity: 0.9;
		transition: all 0.5s ease-in;
	}



	/*First page section styling starts here*/
	/*Intro styling starts here*/

	.first-page-section
	{
		text-align: center;
	}

	.intro
	{
		/* Hi there, My name is: */
		padding: 30px;
		font-family: 'Chalkboard';
		font-weight: regular;
		text-align: center;
		font-size: 25px;
		letter-spacing: 1px;
		line-height: 25px;
		color: #FFFFFF;
		text-shadow: 0 2px 2px rgba(0,0,0,0.80);
	}

	/*The snippet below styles the scroll-btn*/
	.scroll-btn
	{
		width: 30px;
		text-align: center;
	}

	/*My wonderful in highlighted with this snippet*/
	.name
	{
		font-family: 'Chalkboard';
		font-weight: bold;
	}

	/*Blackline styling starts here*/
	.blackline
	{
		width: 100px;
		height: 5px;
		background: #000000;
		border-radius: 8px;
	}

	/*Socialbuttons styling starts here*/
	.social-buttons
	{
		float: right;

	}
	/*Aligns the social buttons*/
	.social-buttons ul li
	{
		display: inline;
	}
	/*Styles the social buttons images*/
	.social-buttons-img
	{
		width: 20px;
		height: 20px;
		padding: 10px;
	}

	/*Portfolio section starts here*/
	.portfolio-section
	{
		/*background-image: linear-gradient(45deg, rgba(0,0,0,0.50) 0%, #FFFFFF 100%);*/
		/*background-color: #fff;*/
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		border-radius: 5px;
		height: auto;
		width: auto;
	}

	/*Portfolio section content starts here*/
	.row
	{
		text-align: center;
		padding-top: 20px;
	}
	/*Portfolio section styling*/
	.row div
	{
		display: inline-block;
		text-align: center;
		padding: 20px;

	}
	/*My beatiful images are sytled here*/
	.row div img
	{
		width: 250px;
		top: 0;
		padding-top: 20px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		padding: 10px;
		border-radius: 2px;
		transition: all 0.5s ease-in;

	}

	.row div img:hover
	{
		opacity: 0.7;
		transition: all 0.5s ease-in;

	}

	/*Contact Info section*/
	#contact-info
	{
		text-align: center;
		padding-top: 20px;
		/*background-image: linear-gradient(45deg, rgba(0,0,0,0.50) 0%, #FFFFFF 100%);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);*/
		border-radius: 5px;
		height: auto;
		width: auto;
	}
	/*Contact information styling*/
	#contact-info
	{
		font-family: 'Avenir';
		font-weight: bold;
		color: #fff;
		text-shadow: 0 2px 4px rgba(0,0,0,50);
		letter-spacing: 1px;
		padding: 10px;
	}
	/*Contact information header*/
	#contact-info header
	{
		font-size: 40px;
	}
	/*Contact information contents*/
	#contact-info p
	{
		font-size: 20px;
	}
	/*Footer styling starts here*/
	.footer p
	{
		font-family: 'Chalkboard';
		font-weight: bold;
		font-size: 9px;
		letter-spacing: 1px;
		color: #fff;
		padding: 20px;
		float: left;
	}
}


/*Laptop responsive Styling starts*/
@media screen and (min-width: 960px) and (max-width: 2000px)
{
	/*Index styling starts here*/
	/*Body styling starts here*/
	body
	{
		margin-left: 30px;
		margin-right: 30px;
		background-image: -moz-linear-gradient(top, #C86DD7, #3023AE);
		background-image: -webkit-linear-gradient(top,#C86DD7, #3023AE);
		background-image: -ms-linear-gradient(top, #C86DD7, #3023AE);
		background-image: linear-gradient(top, #C86DD7, #3023AE);

		/*You can interchange the top and bottom properties to change background gradient style
		The top linear-gradient is smooth from top to bottom while the bottom linear-gradient
		is like a slash inbetween two colors
		*/

		/* bg: */
		/*background-image: linear-gradient(25deg, #3023AE 50%, #C86DD7 25%);*/
	}

	/*Navigation bar styling here*/
	.nav
	{
		padding-top: 20px;
	}

	/*Left Navigation styling starts here*/
	.left-nav
	{
		float: left;
	}

	/*Link in left havigation*/
	.left-nav a
	{
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Chalkboard';
		color: #FFFFFF;
		padding: 10px;/*
		text-shadow: 0 2px 4px rgba(0,0,0,0.50);*/
	}
	/*Left image styling if there is one*/
	.left-nav img
	{

	}

	/*Right Navigation Styling starts here*/
	.right-nav
	{
		float: right;
	}

	/*Contact Button Styling Starts here*/
	.contact-btn
	{
		/* top: */
		background: #FFFFFF;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.13);
		border-radius: 10px;
		color: #333;
		padding: 10px;
		width: 100px;
		text-align: center;
		cursor: pointer;
		opacity: 1;
		transition: all 0.5s ease-in;
	}
	/*contact button link*/
	.contact-btn a
	{
		text-decoration: none;
		font-family: 'Chalkboard';
		font-weight: bold;
		font-size: 12px;
		opacity: 1;
		transition: all 0.5s ease-in;
	}
	/*Contact button interactivity*/
	.contact-btn:hover
	{
		
		box-shadow: 0 4px 4px 0 rgba(0,0,0,0.90);
		transition: all 0.5s ease-in;
	}
	.contact-btn a:hover
	{
		opacity: 0.9;
		transition: all 0.5s ease-in;
	}



	/*First page section styling starts here*/
	/*Intro styling starts here*/
	/*Aligns everything in the first section*/
	.first-page-section
	{
		text-align: center;
	}

	/*Site into is here*/
	.intro
	{
		/* Hi there, My name is: */
		padding: 30px;
		font-family: 'Chalkboard';
		font-weight: regular;
		text-align: center;
		font-size: 30px;
		letter-spacing: 1px;
		line-height: 40px;
		color: #FFFFFF;
		text-shadow: 0 2px 2px rgba(0,0,0,0.80);
	}

	/*The snippet below styles the scroll-btn*/
	.scroll-btn
	{
		width: 30px;
		text-align: center;
	}

	/*This little snippet here highlights my name*/
	.name
	{
		font-family: 'Chalkboard';
		font-weight: bold;
	}
	/*Blackline styling starts here*/
	.blackline
	{
		width: 100px;
		height: 5px;
		background: #000000;
		border-radius: 8px;
	}

	/*Socialbuttons styling starts here*/
	.social-buttons
	{
		float: right;

	}
	/*Social buttons aligned*/
	.social-buttons ul li
	{
		display: inline;
	}
	/*social buttons image*/
	.social-buttons-img
	{
		width: 20px;
		height: 20px;
		padding: 20px;
	}

	/*Portfolio section starts here*/
	.portfolio-section
	{
		/*background-image: linear-gradient(45deg, rgba(0,0,0,0.50) 0%, #FFFFFF 100%);*/

		/*You are free to interchange the top and bottom as well in this section or you can use the two*/
		/*You are welcome*/

		/*background-color: #fff;*/
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		border-radius: 5px;
		height: auto;
		width: auto;
	}

	/*Portfolio section content starts here*/
	.row
	{
		text-align: center;
		padding-top: 20px;
	}
	/*My beatiful portfolio section*/
	.row div
	{
		display: inline-block;
		text-align: center;
		padding: 20px;
		margin-left: 0px;
	}
	/*Properties of the portfolio images*/
	.row div img
	{
		width: 250px;
		top: 0;
		padding-top: 20px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		padding: 10px;
		border-radius: 2px;
		transition: all 0.5s ease-in;
		float: left;
		opacity: 0.9;
	}
	/*Portfolio images interactivity*/
	.row div img:hover
	{
		width: 255px;
		box-shadow: 0 20px 20px 5px rgba(0,0,0,0.70);
		opacity: 1;
		transition: all 0.5s ease-in;

	}

	/*Contact Info section*/
	#contact-info
	{
		text-align: center;
		padding-top: 20px;
		/*background-image: linear-gradient(45deg, rgba(0,0,0,0.50) 0%, #FFFFFF 100%);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);*/
		border-radius: 5px;
		height: auto;
		width: auto;
	}

	#contact-info
	{
		font-family: 'Avenir';
		font-weight: bold;
		color: #fff;
		text-shadow: 0 2px 4px rgba(0,0,0,50);
		letter-spacing: 1px;
		padding: 10px;
	}
	/*Contact information header */
	#contact-info header
	{
		font-size: 40px;
	}
	/*Contact information contents*/
	#contact-info p
	{
		font-size: 20px;
	}

	/*Footer styling starts here*/
	.footer p
	{
		font-family: 'Chalkboard';
		font-weight: bold;
		font-size: 9px;
		letter-spacing: 1px;
		color: #fff;
		padding: 20px;
		float: left;
	}
}












